/** @format */

.navbar {
	background-color: #343a40; /* Dark background */
	padding: 1rem 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
	color: #fff;
	font-size: 1.5rem;
	font-weight: bold;
	text-decoration: none;
}

.navbar-links {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
}

.navbar-links li {
	margin-left: 1.5rem;
}

.navbar-links a,
.navbar-links button {
	color: #adb5bd; /* Lighter text for links */
	text-decoration: none;
	font-size: 1rem;
	background: none;
	border: none;
	cursor: pointer;
	padding: 5px 0; /* Add some vertical padding */
	transition: color 0.2s ease-in-out;
}

.navbar-links a:hover,
.navbar-links button:hover,
.navbar-links a.active {
	color: #fff; /* White on hover/active */
}
